    $(".product_form").submit(function(e) {
      e.preventDefault();
      var $addToCartForm = $(this);  
 var $cartForm = $('form#cart');  
      var $addToCartBtn = $addToCartForm.find('.add_to_cart');
 var $successMessage = $cartForm.find('.success_message');

      $.ajax({
        url: '/cart/add.js',
        dataType: 'json',
        type: 'post',
        data: $addToCartForm.serialize(),
        beforeSend: function() {
          $addToCartBtn.attr('disabled', 'disabled').addClass('disabled');
          $addToCartBtn.find('span').removeClass("zoomIn").addClass('animated zoomOut');
        },
        success: function(itemData) {
          $addToCartBtn.find('span').text({{ 'products.product.add_to_cart_success' | t | json }}).removeClass('zoomOut').addClass('fadeIn');
 $successMessage.find('span').text('Added To Bag').addClass('fadeIn');
          window.setTimeout(function(){
            $addToCartBtn.removeAttr('disabled').removeClass('disabled');
            $addToCartBtn.find('span').addClass("fadeOut").text($addToCartBtn.data('label')).removeClass('fadeIn').removeClass("fadeOut").addClass('zoomIn');
          }, 1000);
          window.setTimeout(function(){
$successMessage.find('span').text('').removeClass('fadeIn');
          }, 3000);

          $.getJSON("/cart.js", function(cart) {
            refreshCart(cart);
            window.setTimeout(function(){ $.fancybox.close(); $('.cart-button').click(); }, 500);
          });
          if(!$($addToCartForm).hasClass('quick-buy-reset')) {
		 	 $('input[type=radio]').prop("checked", false);
          }
        },
        error: function(XMLHttpRequest) {
          var response = eval('(' + XMLHttpRequest.responseText + ')');
          response = response.description;
          $('.warning').remove();

          var warning = '<p class="warning animated bounceIn">' + response.replace('All 1 ', 'All ') + '</p>';
          $addToCartBtn.after(warning);
          $addToCartBtn.removeAttr('disabled').removeClass('disabled');
          $addToCartBtn.find('span').text({{ 'products.product.add_to_cart' | t | json }}).removeClass('zoomOut').addClass('zoomIn');
        }
      });

      return false;
    });
    function refreshCart(cart) {
      $cartBtn = $(".icon-cart .medium");
      if ($cartBtn && $cartBtn.size()) {
        var value = $cartBtn.text() || '0';
        var cart_items_html = "";
        var $cart = $("#cart ul");
      
        $cartBtn.text(value.replace(/[0-9]+/,cart.item_count));
        $cart.find('li:not(:first)').remove();

        if (cart.item_count == 0) {
          $cart.append('<li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>');
        } else {
          $.each(cart.items, function(index, item) {
  			cart_items_html += '<li class="cart_item">';
            if (item.image) {
              cart_items_html += '<div class="cart_image">' +
                  '<a href="' + item.url +'"><img src="' + item.image.replace(/(\.[^.]*)$/, "_medium$1").replace('http:', '') + '" alt="' + htmlEncode(item.title) + '" /></a>' +
                '</div>';
            }
            cart_items_html += '<div class="cart-meta"><a href="' + item.url +'"><div class="item_title">' + item.product_title +'</div><div class="item_title">' + item.variant_title +'</div>' +
                '<strong class="price">' + Shopify.formatMoney(item.price, $cart.data('money-format')) + '</strong></a>' + 
              '<p class="mm-counter">' +
                '<input type="number" min="0" class="quantity" name="updates[]" id="updates_' + item.id + '" value="' + item.quantity +'" /><span class="remove">{{ 'cart.general.remove' | t }}</span>' +
              '</p>' +
              '</div>' +
            '</li>';
          });

          cart_items_html += '<li class="mm-label">' +
              '<p class="mm-counter">' + Shopify.formatMoney(cart.total_price, $cart.data('money-format')) + '</p>' +
              '<a href="/cart">' +
                '<strong>{{ 'layout.general.subtotal' | t }}</strong>' +
              '</a>' +
            '</li>' +
            '<li class="mm-subtitle clearfix">';

            {% if settings.display_special_instructions %} 
              cart_items_html += '<textarea id="note" name="note" rows="2" placeholder={{ 'layout.general.cart_note' | t | json }} class="clearfix">{{ cart.note | escape }}</textarea>';
            {% endif %}

            {% if settings.display_tos_checkbox %}
              cart_items_html += '<p class="tos"><input type="checkbox" class="tos_agree" id="sliding_agree" /><label class="tos_label" for="sliding_agree"> ' +
                {{ 'cart.general.agree_to_terms_html' | t | json }} +
              '</label></p>';
            {% endif %}

            cart_items_html += '<input type="submit" class="action_button right" value={{ 'layout.general.checkout' | t | json }} />' +
            '</li>';

          $cart.append(cart_items_html);
          $cart.find('li.cart_item:last').addClass('last_cart_item');

          {% if settings.show_multiple_currencies %}
            if($('.currencies:visible option:selected').val()) {
              Currency.convertAll($cart.data('shop-currency'), $('.currencies:visible option:selected').val()); 
            }
          {% endif %}
        }
      }
    }