{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
<div id="slider" class="{% unless product.tags contains 'no-variant-images' %}carousel-slider{% endunless %} flexslider product_slider">
  <ul class="slides">
    {% for image in product.images %}
      <li class="{{ image.alt | escape }}" data-thumb="{{ image.src | product_img_url: '1024x1024' | split:'?' | first }}" data-title="{{ image.alt | escape }}">
              <img width="723" height="1024" src="{{ image.src | product_img_url: '1024x1024' | split:'?' | first }}" data-src-retina="{{ image.src | product_img_url: '2048x2048' | split:'?' | first }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image.src | product_img_url: 'master' | split:'?' | first }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" /> 
      </li>
    {% endfor %}
  </ul>
</div>
{% unless product.tags contains "no-variant-images" %}
  <div id="carousel" class="flexslider">
    {% for option in product.options %}
      {% if option == 'Color' %}
        {% assign selectedVariant = product.selected_or_first_available_variant.options[forloop.index0 ] | handleize %}
      {% elsif option == 'Size'%}
        {% assign selectedVariant = product.selected_or_first_available_variant.options[forloop.index0 ] | handleize %}
      {% endif %}
    {% endfor %}
    <ul class="slides">
      {% for image in product.images %}
          <li class="thumbnail-{{image.alt}} animated fadeIn {%if image.alt == 'curated-image' %}curated{% endif %} {%if image.alt == selectedVariant %} active-variant {% endif %}">
            <img width="71" height="100" src="{{image.src | product_img_url: 'small' | split:'?' | first }}" alt="{{image.alt}}" />
          </li>
      {% endfor %}
    </ul>
  </div>
{% endunless %}
&nbsp;