<div class="container">
	<div class="header-right">
		<h1>{{ page.title }}</h1>
		<p>“I inhale all the beautiful inspiration I can, and then exhale it into a collection.” <br>– Donna Karan </p>
	</div>
	<div class="page">
		<div class="image-row">
			<div class="half">
				<a href="/pages/the-alchemist-shop-by-look" title="The Alchemist Collection">
					<div class="text">The Alchemist</div>
					<img src="{{ 'dm_collection_01.jpg' | asset_url | split:'?' | first }}" alt="The Alchemist Collection">
				</a>
			</div>
			<div class="half">
				<a href="/pages/furniture" title="The Furniture Collection">
					<div class="text">Furniture</div>					
					<img src="{{ 'dm_collection_02.jpg' | asset_url | split:'?' | first }}" alt="The Furniture Collection">
				</a>
			</div>
		</div>
		<div class="image-row">
			<div class="half">
				
				<a href="pages/modern-souls-collection" title="The Modern Souls Collection">
					<div class="text">Modern Souls</div>
					<img src="{{ 'dm_collection_03.jpg' | asset_url | split:'?' | first }}" alt="The Modern Souls Collection">
				</a>
			</div>
			<div class="half">
				<a href="pages/lookbook-my-journey" title="My Journey Collection">
					<div class="text">My Journey</div>					
					<img src="{{ 'dm_collection_04.jpg' | asset_url | split:'?' | first }}" alt="My Journey Collection">
				</a>
			</div>
		</div>
	</div>
</div>