</div>
<div class="mobile_hidden">
	<img src="{{ 'NOM_D_Banner_V2.jpg' | asset_url | split:'?' | first }}" width="100%"  alt="Not One More Banner" style="display:block;" />
</div>
	<div class="desktop_hidden">
		<img src="{{ 'NOM_collage2.jpg' | asset_url | split:'?' | first }}" width="100%"  alt="Not One More" style="display:block;" />
	</div>
	<div class="pure-black-bg center desktop_hidden">
			<img src="{{ 'NOM_M_Logo_Banner.png' | asset_url | split:'?' | first }}" width="60%"  alt="Not One More" />
	<!--	<nav class="nom-nav center"><a href="{{'/pages/the-movement' | page.url }}"><span class="light">Act</span></a><a href="{{'/pages/not-one-more' | page.url }}"><span class="light">Learn</span></a></nav>-->
	</div>
<div class="container slideshow">
	
		<div class="section clearfix border-separate center">
		<h1>Not One More Initiative</h1>
		<p class="nom">Every day, 91 Americans are killed by gun violence…</p>
		<p class="nom">Since 2013, there has been at least 174 school shootings in America…</p>
		<p class="medium">We've collaborated with Everytown for Gun Safety to develop a one-of-a-kind leather bracelet as part of the Haiti Artisan Project.<br>Your support gives back to Everytown's efforts to achieve common sense reforms that will prevent gun violence and save lives.</p>
	</div>
	<div class="section table clearfix border-separate">
		<div class="eight columns tableCell">
			<img width="480" height="417" src="{{ 'NOM_call_to_action.jpg' | asset_url | split:'?' | first }}" alt="Not One More Event" />
		</div>
		<div class="eight columns tableCell center">
			<h2>Three Powerful Words</h2>
			<p>“NOT ONE MORE,” was inspired by Richard Martinez, the father of 20-year-old Christopher Michaels-Martinez who was shot and killed during a shooting at UC Santa Barbara. Immediately after the tragedy, Richard Martinez stood up and demanded that “NOT ONE MORE” person should die from senseless gun violence in this country.</p>
			
		</div>
	</div>
	<div class="section clearfix table border-separate" id="purchase-bracelet">
		<div class="eight columns center tableCell">
			<h2>Make A Statement</h2>
			<p>Purchase a Not One More x Everytown for Gun Safety bracelet to build safer communities.</p>
			<p>It starts with you, and it starts in your town.</p>
			<div class="mobile_hidden">
			<p class="p2 price">$30.00</p>
			<a href="/collections/jewelry-and-accessories/products/not-one-more-bracelet" class="cta-button nom"><span>Purchase</span></a>
		<br><br>
		</div>
		</div>
		<div class="eight columns tableCell">
			<img width="480" height="360" src="{{ 'NOM_Bracelet_large.jpg' | asset_url | split:'?' | first }}" alt="Not One More Bracelet" />
			<div class="desktop_hidden center">
			<br>
			<p class="p2 price">$30.00</p>
			<a href="/collections/jewelry-and-accessories/products/not-one-more-bracelet" class="cta-button nom"><span>Purchase</span></a>
		</div>
		</div>
	</div>
	<div class="section clearfix table center">
		<h2>Voices in action</h2>
		<p>Thank you to our partners Lise Evans, Julianne Moore, Michael Bloomberg and more.</p>
		<div class="onethird columns">
			<img width="75%" height="auto" src="{{ 'UZ_Logo_Script_Black_large_NOM.png' | asset_url | split:'?' | first }}" alt="Urban Zen" />
		</div>
		<div class="onethird columns">
			<img width="75%" height="auto" src="{{ 'everytown_final_logo1.jpg' | asset_url | split:'?' | first }}" alt="Everytown" />
		</div>
		<div class="onethird columns">
			<img width="75%" height="auto" src="{{ 'Americans_for_Responsible_Solution1.png' | asset_url | split:'?' | first }}" alt="Americans For Responsible Solution" />
		</div>
		<div class="onethird columns">
			<img width="75%" height="auto" src="{{ 'Moms_Demand-Action_Logo_CutAsset1.jpg' | asset_url | split:'?' | first }}" alt="Momes Demand Action" />
		</div>
		<div class="onethird columns">
			<img width="75%" height="auto" src="{{ 'Under_The_Gun1.png' | asset_url | split:'?' | first }}" alt="Under The Gun" />
		</div>
		<div class="onethird columns">
			<img width="75%" height="auto" src="{{ 'NYAGV1.png' | asset_url | split:'?' | first }}" alt="NYAGV" />
		</div>
	</div>
</div>