<div id="slide-article">
	<div class="bcg" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-article" style="">
        <div class="hsContainer">
			<div class="hsContent center">
				<div>
					<h1 class="bold headline" style="color:{{settings.banner_color}}">Raise Awareness Inspire Change</h1>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="container page-template">
  <div class="center">
    <h1>Giving Back</h1>
	<h2>We Support The Urban Zen Foundation</h2>
    <p>The Urban Zen Foundation creates, connects and collaborates to raise awareness and inspire change in the areas of preservation of culture (Soulful Economy), Integrative Healthcare (Urban Zen Integrative Therapy Program) and Education.</p>
  </div>
  <br>
  <div class="one-third column animated fadeIn center">
	  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'UZF_Culture_2016_1_large.jpg' | asset_url }}" alt="Preserving Cultures" />
	  <h4>Preserving Cultures</h4>
	  <p>Programs such as the Haiti Artisan Project and D.O.T promote economic development for artisan communities through vocational education and job creation.</p>
	  <a href="" class="cta-button">Help Preserve</a>
  </div>
  <div class="one-third column animated fadeIn center">
	  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'UZF_UZIT_2016_1_large.jpg' | asset_url }}" alt="Preserving Cultures" />
	  <h4>Well-Being</h4>
	  <p>The mission of the Urban Zen Integrative Therapy Program is to change the current healthcare paradigm by including integrative medicine and promoting patient advocacy.</p>
	  <a href="" class="cta-button">Help Care</a>
  </div>
  <div class="one-third column animated fadeIn center">
	  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'Paula-Impact-1_large.jpg' | asset_url }}" alt="Preserving Cultures" />
	  <h4>Education/Empowering Children</h4>
	  <p>Our mission is to care for our children’s well-being and give them the tools to face obstacles and opportunities with love, compassion & strength.</p>
	  <a href="" class="cta-button">Help Empower</a>
  </div>
</div>