<div class="sixteen columns">
	<div class="header-title">
		<h1>{{ page.title }}</h1>
	</div>
	<div class="page">
		{% comment %}
		<div class="image-row">
			<div class="half">
				<a href="/pages/the-alchemist" title="The Alchemist Collection">
					<div class="text"><h3 class="light">The Alchemist</h3></div>
					<img src="{{ 'dm_collection_01.jpg' | asset_url | split:'?' | first }}" alt="The Alchemist Collection">
				</a>
			</div>
			<div class="half">
				<a href="/pages/furniture" title="The Furniture Collection">
					<div class="text"><h3 class="light">Furniture</h3></div>					
					<img src="{{ 'dm_collection_02.jpg' | asset_url | split:'?' | first }}" alt="The Furniture Collection">
				</a>
			</div>
		</div>
		{% endcomment %}
		<div class="image-row">
			<div class="half">
				
				<a href="/pages/modern-souls-collection" title="The Modern Souls Collection">
					<div class="text"><h3 class="light">Modern Souls</h3></div>
					<img src="{{ 'dm_collection_03.jpg' | asset_url | split:'?' | first }}" alt="The Modern Souls Collection">
				</a>
			</div>
			<div class="half">
				<a href="/pages/lookbook-my-journey" title="My Journey Collection">
					<div class="text"><h3 class="light">My Journey</h3></div>					
					<img src="{{ 'dm_collection_04.jpg' | asset_url | split:'?' | first }}" alt="My Journey Collection">
				</a>
			</div>
		</div>
	</div>
</div>