<div class="container">
	<div class="section">
		<h1 class="center">
			{{ page.title }}<br>
			Design, Organization & Training Center
		</h1>
	</div>
	<div class="center">
		<h3><strong>D.O.T: Design, Organization & Training Center, a model for Conscious Consumerism</strong></h3>
		<p>In the summer of 2015 we opened the doors to a newly built 5,000 square foot vocational training center in partnership with Parsons School of Design and Paula Coles. The facility supports the development of Haiti’s artisan community by fostering innovation and providing access to materials and machinery.</p>
	</div>
	<div class="section center">
		<h3><strong>"My mission behind collaborating with my alma matter, Parsons The New School for Design, and Haiti artisans is so I can bring two worlds together to push the limits of art, design, culture, dialogue and ideas. When two heavily talented forces come together it becomes a celebration for creativity!"</strong><br>– Donna Karan</h3>
	</div>
	<div class="section clearfix center">
		<div class="cell-video-container">
			<iframe src="https://player.vimeo.com/video/165453885" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<br>
		<h3><strong>“It’s something that we never had here, a space where the artisan can go and work and have advice.”</strong><br>– Haitian artisan, Marie-Therese Dupoux</h3>
	</div>

	<div class="section">
		<div class="half left">
			<h4>Our Progress</h4>
			<p>
				<ul class="bulleted">
					<li>D.O.T provides jobs for five full-time employees.</li>
					<li>More than 200 new tools have been provided to improve production and quality.</li>
					<li>Six technique workshops in seven different disciplines ranging from horn, metal, textile, ceramics, natural dying, beading, leather and recycled.</li>
					<li>The facility has positively impacted more than 350 local Haitian artisans.</li>
					<li>Provided scholarships for six Parsons graduates to create and collaborate with artisans. The results were stunning!</li>
				</ul>
			</p>
		</div>
		<div class="half right">
			<div class="alpha thumbnail fadeIn">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'dm_DOT_03.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - New York City" />
			</div>
		</div>
	</div>
	<div class="section">
		<div class="half left">
			<h4>Our Creative Collaborators</h4>
			<ul class="bulleted">
				<li>Paul Coles Haiti</li>
				<li>Parson School of Design</li>
			</ul>
		</div>
		<div class="half right">
			<div class="simpleslider">
			  <ul class="slides">
			    <li class="alpha inline thumbnail">
			      <img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'dm_DOT_04.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Sag Harbor" />
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<div class="section clearfix">
		<div class="cell-video-container">
			<iframe src="https://player.vimeo.com/video/137151782" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="section center">
		<div class="image-container">
		<span class="text">
			<h1 class="light">Discover D.O.T. Products</h1>
			<a href="/collections/d-o-t" class="cta-button">Discover</a>
		</span>
		<img src="{{ 'dm_DOT_02.jpg' | asset_url | split:'?' | first }}" width="100%" height="auto" />
		<div class="overlay"></div>
		</div>
	</div>
</div>







