<div class="article">
	<div class="container">
		<div class="section center">
			<h1 class="light">{{page.title}}</h1><br>
		</div>
		<div class="section clearfix center">
			<h2 class="light">Show</h2><br>
			<div class="cell-video-container">
				<iframe src="https://player.vimeo.com/video/182799371?color=FFFFFF&title=0&byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="alchemistSlider relative_slider black-nav">
				<br><br>
				<br>
				<h2 class="light">See</h2>
				<br>
				<ul class="slides">
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'Installation_01.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'Installation_01.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'Installation_02.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'Installation_02.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'Installation_03.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'Installation_03.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'Installation_04.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'Installation_04.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_05.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_05.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_06.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_06.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_07.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_07.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_08.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_08.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_09.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_09.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_11.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_11.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
					<li class="item">
						<a rel="gallery1" class="fancybox" href="{{ 'installation_14.jpg' | asset_url | split:'?' | first }}">
							<img src="{{ 'installation_14.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Alchemist Collection installation Pictures" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="section clearfix center">
			<h2 class="light">Shop</h2>
			<br>
			<div>
				<div class="text">
					<a href="/pages/the-alchemist-collection" class="cta-button" title="Our Stores">Shop By Look</a>
				</div>
			<img src="//cdn.shopify.com/s/files/1/1088/8842/files/dm_shoplanding_00a_1024x1024.jpg" alt="The Alchemist Shopping Experience" />
			</div>
			<br>
			<a href="/pages/stores/" class="cta-button" title="Our Stores">Vist our stores</a>
		</div>
	</div>
</div>