<div id="slide-article">
	<div class="bcg" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-article" style="">
        <div class="hsContainer">
			<div class="hsContent center">
				<div>
					<h1 class="bold headline" style="color:{{settings.banner_color}}">Experience Urban Zen</h1>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="container">
  <div class="four columns animated fadeIn center">
	<a href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA"><img src="{{ 'Stores_NYC_2016_01_large.jpg' | asset_url }}" alt="New York Store" /></a>
    <h1>New York</h1>
	<p>705 Greenwich St | New York, NY 10014<br><a href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA"> Directions</a></p>
	<h3>HOURS</h3>
    <p>Mon – Wed, 10AM – 6PM<br>Thurs, 11AM – 7PM<br>Fri, 10AM – 6PM<br>Sat, 11AM – 6PM<br>Sun, 12PM – 5PM</p>
	<h3>CONTACT</h3>
    <p><strong>Phone:</strong> 212 206 3999<br><strong>Email:</strong> <a href="mailto:705@urbanzen.com">705@urbanzen.com</a></p>
  </div>
  <div class="four columns animated fadeIn center">
	<a href="https://www.google.com/maps/place/Urban+Zen/@41.0016705,-72.2962395,17z/data=!4m7!1m4!3m3!1s0x89e8bd2515ec2899:0xa6177d4c319547eb!2s4+Bay+St,+Sag+Harbor,+NY+11963!3b1!3m1!1s0x89e8bd253e6ec7e3:0xa6888498759fc0e4"><img src="{{ 'Store_SH_2015_11_11_large.jpg' | asset_url }}" alt="Sag Harbor Store" /></a>
    <h1>Sag Harbor</h1>
	<p>4 Bay Street | Sag Harbor, NY 11963<br><a href="https://www.google.com/maps/place/Urban+Zen/@41.0016705,-72.2962395,17z/data=!4m7!1m4!3m3!1s0x89e8bd2515ec2899:0xa6177d4c319547eb!2s4+Bay+St,+Sag+Harbor,+NY+11963!3b1!3m1!1s0x89e8bd253e6ec7e3:0xa6888498759fc0e4">Directions</a></p>
	<h3>HOURS</h3>
    <p>Mon - Thurs, 10AM - 5PM<br>Fri - Sat, 10AM - 6PM<br>Sun, 10AM - 5PM</p>
	<h3>CONTACT</h3>
    <p><strong>Phone:</strong> 631 725 6176<br><strong>Email:</strong> <a href="mailto:uzsh@urbanzen.com">uzsh@urbanzen.com</a></p>
  </div>
  <div class="four columns animated fadeIn center">
	<a href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA"><img src="{{ 'Stores_Aspen_2016_01_large.jpg' | asset_url }}" alt="Aspen Store" /></a>
    <h1>Aspen</h1>
	<p>Residences at The Little Nell | 501 E. Dean Street Aspen, Colorado 81611<br><a href="https://www.google.com/maps/place/501+E+Dean+St,+Aspen,+CO+81611/data=!4m2!3m1!1s0x8740396264024019:0x1960e48ba2614167?sa=X&ei=KuUaVYOtDJPdsATZl4G4Dw&ved=0CB4Q8gEwAA"> Directions</a></p>
	<h3>HOURS</h3>
    <p>Mon - Sat, 11AM - 6PM<br>Sun, 12PM - 5PM<br><i>* Please call the store to confirm store hours.</i></p>
	<h3>CONTACT</h3>
    <p><strong>Phone:</strong> 970 710 2961<br><strong>Email:</strong> <a href="mailto:aspen@urbanzen.com">aspen@urbanzen.com</a></p>
  </div>
  <div class="four columns animated fadeIn center">
	<a href="https://www.google.com/maps/place/2072+Northern+Blvd,+Manhasset,+NY+11030/@40.795971,-73.6737094,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2888c2685b66f:0xcbf8ab7307077321?q=2072+Northern+Blvd.+%7C+Manhasset+,+NY+11030&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj1tdKv7LHLAhWDFz4KHUoCDgIQ_AUIBygB"><img src="{{ 'Stores_Aspen_2016_01_large.jpg' | asset_url }}" alt="Mahasset Store" /></a>
    <h1>Manhasset</h1>
	<p>2072 Northern Blvd. | Manhasset , NY 11030<br><a href="https://www.google.com/maps/place/2072+Northern+Blvd,+Manhasset,+NY+11030/@40.795971,-73.6737094,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2888c2685b66f:0xcbf8ab7307077321?q=2072+Northern+Blvd.+%7C+Manhasset+,+NY+11030&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj1tdKv7LHLAhWDFz4KHUoCDgIQ_AUIBygB"> Directions</a></p>
	<h3>HOURS</h3>
    <p>TBD</p>
	<h3>CONTACT</h3>
    <p><strong>Phone:</strong> TBD<br><strong>Email:</strong> <a href="mailto:amuz@urbanzen.com">amuz@urbanzen.com</a></p>
  </div>
</div>