
<div class="container">
	<div class="section center">
		<h1 class="center">Not One More Initiative</h1>
  	  	<p>In the wake of the shootings in Orlando, UC Santa Barbara, Newtown, Columbine, gun violence continues to affect families all around the world. Thank you to our partners Lise Evans, Julianne Moore, Michael Bloomberg and more.</p>
  	</div>
	<div class="mobile_hidden">
		<img src="{{ 'NOM_D_Banner_V2.jpg' | asset_url | split:'?' | first }}" width="100%"  alt="Not One More Banner" style="display:block;" />
	</div>
	<div class="desktop_hidden">
		<img src="{{ 'NOM_collage2.jpg' | asset_url | split:'?' | first }}" width="100%"  alt="Not One More" style="display:block;" />
	</div>
	<div class="slideshow">
	<div class="section clearfix mobile_center" id="purchase-bracelet">
		<div class="half left">
			<h3>Not One More Bracelet</h3>
			<p>Three words,"Not One More," a rallying cry by Richard Martinez, father of 20-year-old Christopher Michaels-Martinez who was shot and killed at UC Santa Barbara, inspired the one-of-a-kind bracelet we’ve developed to support Everytown for Gun Safety.</p>
			<div class="mobile_hidden">
   	  		<p>Your support gives back to Everytown's efforts to achieve common sense reforms that will prevent gun violence and save lives. </p>
			
				<p class="p2 price">$30.00</p>
				<a href="/collections/not-one-more" class="cta-button nom"><span>Purchase</span></a>
				<br>
				<br>
			</div>
		</div>
		<div class="half right">
			<div class="simpleslider">
			<ul class="slides">
			<li class=""><img width="480" height="360" src="{{ 'NOM_Bracelet_large.jpg' | asset_url | split:'?' | first }}" alt="Not One More Bracelet" /></li>
	  			  <li class=""><img width="480" height="360" src="{{ 'NOM_Purchase_Slideshow_Double_Brown_large.jpg' | asset_url | split:'?' | first}}" alt="Not One More Event" /></li>
	  			  <li class=""><img width="480" height="360" src="{{ 'NOM_Purchase_Slideshow_Single_Black_large.jpg' | asset_url | split:'?' | first}}" alt="Not One More Event" /></li>
	  			  <li class=""><img width="480" height="360" src="{{ 'NOM_Purchase_Slideshow_Single_Brown_large.jpg' | asset_url | split:'?' | first}}" alt="Not One More Event" /></li>
	  	  </ul>
	  </div>
			<div class="desktop_hidden left">
				<br>
				<p>Your support gives back to Everytown's efforts to achieve common sense reforms that will prevent gun violence and save lives.</p>
				<p>Explore the full collection.</p>
				<p class="p2 price">$30.00</p>
				<a href="/collections/not-one-more" class="cta-button nom"><span>Purchase</span></a>
			</div>
		</div>
	</div>
  <div class="section center">
	<h2>Act: Take a picture wearing the Not One More bracelet, share it on your Instagram and tag</h2>
	<ul class="hashtags"><li>#DisarmHate</li><li>#NotOneMore</li><li>@Everytown</li><li>@UrbanZen</li></ul>
		<p >3 Million+ have joined the movement</p>
  </div>
  <div class="section" id="nom-people">
      <div class="four columns dknom alpha thumbnail ">
          <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'donna2_medium.jpg' | asset_url | split:'?' | first}}">
      </div>
    <div class="four columns dknom alpha thumbnail ">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_1b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns vwnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'vera_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns rmnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_35_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ewnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_36_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
       <div class="four columns vsnom alpha thumbnail">
         <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_33_medium.jpg' | asset_url | split:'?' | first}}">
     </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_10b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_3b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns jfnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement3_29_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
          <div class="four columns kcnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_30_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_6c_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns dfnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_32_medium.jpg' | asset_url | split:'?' | first}}">
    </div>

      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_2b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>


      <div class="four columns maryalicenom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'mary-alice_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
	
      <div class="four columns kknom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kelly-klein_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ltnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'latham-thomas_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns mcnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'michael-carl_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns plnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'phillip-lim_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns gretchennom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'gretchen_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns lorinom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'lori2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns lorisnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'loris_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns shananom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'shana_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sznom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'susu-zaza2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns kevinnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kevin_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns matthewnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'mathew_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns christannom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'christian_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns pgnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'prabal_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns gcnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'georginachapmanmarchesa_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sknom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'stevenkolb_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns rabnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'ragandbone_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns kimknom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kimkardashian_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns kourtknom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kourtneykardashian_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns nananom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'nana_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sarahjonesnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'sarahjones_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns elizabethnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'elizabethgodfrey_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns adriananom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'adrianakaegi_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns stephanienom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'stephanieditullio_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns jessicanom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'jessicakalloch_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ctnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_31_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns michinom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'michi_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns joycenom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'joyce_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ourcomnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'our-community_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns miminom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'mimi_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ourcomnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'our-community2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns andienom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'andie_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns margaretnom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'margaret_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sandranom alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'sandra_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_7b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
	{% comment %}
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_6b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_16c_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_4b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_5b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_9b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_11b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_12b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_13b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_14b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_15b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_17b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_18b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_19_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_20_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_21_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_22_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_23_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_24_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_25_v2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_26_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
		{% endcomment %}
  </div>
<div class="section clearfix table center sponsors">
	<h2>Voices in action</h2>
	<p>Thank you to our partners Lise Evans, Julianne Moore, Michael Bloomberg and more.</p>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'everytown_final_logo1.jpg' | asset_url | split:'?' | first }}" alt="Everytown" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'UZ_Logo_Script_Black_large_NOM.png' | asset_url | split:'?' | first }}" alt="Urban Zen" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'Americans_for_Responsible_Solution1.png' | asset_url | split:'?' | first }}" alt="Americans For Responsible Solution" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'Moms_Demand-Action_Logo_CutAsset1.jpg' | asset_url | split:'?' | first }}" alt="Momes Demand Action" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'Under_The_Gun1.png' | asset_url | split:'?' | first }}" alt="Under The Gun" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'NYAGV1.png' | asset_url | split:'?' | first }}" alt="NYAGV" />
	</div>
</div>
</div>
</div>
<style>
#nom-people .thumbnail img{z-index:2;-webkit-backface-visibility: hidden;}
#nom-people .thumbnail:hover img{opacity:1 !important;@media all and (max-width: 1023px) {opacity:1 !important;}}
#nom-people .thumbnail{position:relative;}
#nom-people .thumbnail:before{opacity:0;}
#nom-people .thumbnail:hover:before{white-space: pre; /* or pre-wrap */color:#fff;
position: absolute;
   display: block;
   top: 50%;
   width:100%;
   text-align:center;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   z-index:1;opacity:1;transition:opacity .3s ease-in;
   @media all and (max-width: 1023px) {display:none;}}
	#nom-people .normal.thumbnail:hover:before{content:'Join \A The Movement \A #NotOneMore';}
	#nom-people .dknom.thumbnail:hover:before{content:'Donna Karan \A #NotOneMore';}
	#nom-people .vwnom.thumbnail:hover:before{content:'Vera Wang \A #NotOneMore';}
	#nom-people .kcnom.thumbnail:hover:before{content:'Keren Craig \A #NotOneMore';}
	#nom-people .jfnom.thumbnail:hover:before{content:'Jennifer Fisher \A #NotOneMore';}
	#nom-people .ctnom.thumbnail:hover:before{content:'Cristy \A #NotOneMore';}  	  
	#nom-people .dfnom.thumbnail:hover:before{content:'Dana Foley \A #NotOneMore';}	  
	#nom-people .rmnom.thumbnail:hover:before{content:'Robbie Myers \A #NotOneMore';}	  
	#nom-people .ewnom.thumbnail:hover:before{content:'Eric Wilson \A #NotOneMore';}
	#nom-people .vsnom.thumbnail:hover:before{content:'Virgina Smith \A #NotOneMore';}
	#nom-people .gcnom.thumbnail:hover:before{content:'Georgina Chapman Marchesa \A #NotOneMore';}	  	  	  	  
	#nom-people .sknom.thumbnail:hover:before{content:'Steven Kolb \A #NotOneMore';}	  	  	  	  
	#nom-people .rabnom.thumbnail:hover:before{content:'Rag And Bone \A #NotOneMore';}	
	#nom-people .christannom.thumbnail:hover:before{content:'Christan \A #NotOneMore';}	
	#nom-people .matthewnom.thumbnail:hover:before{content:'Matthew \A #NotOneMore';}	
	#nom-people .gretchennom.thumbnail:hover:before{content:'Gretchen \A #NotOneMore';}	
	#nom-people .kknom.thumbnail:hover:before{content:'Kelly Klein \A #NotOneMore';}	
	#nom-people .kevinnom.thumbnail:hover:before{content:'Kevin \A #NotOneMore';}	
	#nom-people .lorisnom.thumbnail:hover:before{content:'Lori \A #NotOneMore';}	
	#nom-people .lorinom.thumbnail:hover:before{content:'Lori \A #NotOneMore';}	
	#nom-people .ltnom.thumbnail:hover:before{content:'Latham Thomas \A #NotOneMore';}	
	#nom-people .mcnom.thumbnail:hover:before{content:'Micheal Carl \A #NotOneMore';}	
	#nom-people .plnom.thumbnail:hover:before{content:'Philip Lim \A #NotOneMore';}	
	#nom-people .shananom.thumbnail:hover:before{content:'Shana \A #NotOneMore';}	
	#nom-people .sznom.thumbnail:hover:before{content:'Susu & Zaza \A #NotOneMore';}	
	#nom-people .pgnom.thumbnail:hover:before{content:'Prabal Gurung \A #NotOneMore';}	  
	#nom-people .andienom.thumbnail:hover:before{content:'Andie \A #NotOneMore';}		  	  	  	  
	#nom-people .joycenom.thumbnail:hover:before{content:'Joyce \A #NotOneMore';}		  	  	  	  
	#nom-people .margaretnom.thumbnail:hover:before{content:'Margaret \A #NotOneMore';}		  	  	  	  
	#nom-people .maryalicenom.thumbnail:hover:before{content:'Mary Alice \A #NotOneMore';}		  	  	  	  
	#nom-people .michinom.thumbnail:hover:before{content:'Michi \A #NotOneMore';}		  	  	  	  
	#nom-people .miminom.thumbnail:hover:before{content:'Mimi \A #NotOneMore';}		  	  	  	  
	#nom-people .ourcomnom.thumbnail:hover:before{content:'Our Community \A #NotOneMore';}		  	  	  	  
	#nom-people .sandranom.thumbnail:hover:before{content:'Sandra \A #NotOneMore';}		  	  	  	   
	#nom-people .kimknom.thumbnail:hover:before{content:'Kim Kardashian \A #NotOneMore';}		  	  	  	  
	#nom-people .kourtknom.thumbnail:hover:before{content:'Kourtney Kardashian \A #NotOneMore';}		  	  	  	  
	#nom-people .nananom.thumbnail:hover:before{content:'Nana Keita \A #NotOneMore';}		  	  	  	  
	#nom-people .sarahjonesnom.thumbnail:hover:before{content:'Sarah Jones \A #NotOneMore';}		  	  	  	  
	#nom-people .elizabethnom.thumbnail:hover:before{content:'Elizabeth \A #NotOneMore';}		  	  	  	  
	#nom-people .adriananom.thumbnail:hover:before{content:'Adriana \A #NotOneMore';}		  	  	  	  
	#nom-people .stphanienom.thumbnail:hover:before{content:'Stephanie \A #NotOneMore';}		  	  	  	  
	#nom-people .jessicanom.thumbnail:hover:before{content:'Jessica \A #NotOneMore';}		  	  

	</style>